@import 'src/theme-variables';
$img-size-lg: 60px;
$img-size-sm: 40px;
$text-width: 200px;
$border-size: 3px;

.contractor-map-pin-wrapper {
    position: relative;
    display: relative;
    transition: .2s ease-out margin;
    width: calc(.5 * $img-size-lg + $text-width);
    height: $img-size-lg + 24px;

    & > * {
        position: absolute;
        top: 0;
        left: 0;
    }

    &.small {
        width: $img-size-sm;
        height: $img-size-sm + 24px;
    }

    &:hover {
        margin-bottom: 1em;
    }

    & > .text-wrapper {
        padding: 1em;
        margin-left: calc(.5 * $img-size-lg);
        padding-left: calc(.5 * $img-size-lg + 1em);
        padding-bottom: .5em;
        margin-top: calc($border-size);
        text-align: left;
        z-index: 0;
        width: $text-width;

        & > * {
            word-break: break-word;
        }
    }

    & > img {
        object-fit: cover;
        margin-top: $border-size; 
        margin-left: $border-size;
        width: $img-size-lg;
        height: $img-size-lg;
        z-index: 2
    }

    &.small > img {
        width: $img-size-sm;
        height: $img-size-sm;
    }

    & > .contractor-map-pin {
        width: calc($img-size-lg + 2 * $border-size);
        color: $color-secondary;
        filter: drop-shadow(0 .5rem 1rem rgba(0,0,0,.35));
        z-index: 1
    }

    &.small > .contractor-map-pin {
        width: calc($img-size-sm + 2 * $border-size);
    }
}