@import 'src/theme-variables';

.job-post-list-item {
    border: 1px solid $color-offwhite-darker;
    margin-bottom: 20px;
}

.job-post-list-item:hover {
    background-color: $color-offwhite;
}
