.masonry-grid {
    display: flex;
    gap: 1em;
}

.masonry-col {
    display: flex;
    flex-direction: column;
    flex-basis: 0;
    flex-grow: 1;
    gap: 1em;

    & > img {
        margin-bottom: 0;
    }
}