@import 'src/theme-variables.scss';

html::-webkit-scrollbar {
  display: none;
}
  
  /* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  scroll-behavior: auto !important;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.app > .header {
  max-width: 100%;
  height: $header-height;
  z-index: 10;
  background: linear-gradient(170deg, #f15a24 0%, #ff7f50 100%);
}