@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import 'src/theme-variables.scss';

/* fonts */
body {
	font-family: 'Lato', sans-serif;
	color: $color-body;
}
.alt-font {
	font-family: 'Roboto Condensed';
	letter-spacing: .05em;
	font-weight: 300;
}
h1, h2, h3, h4 {
	font-family: 'Roboto';
	color: $color-header;
}
.display-1 {
    font-size: 4.5em * $text-size-multiplier;
}

.display-2 {
    font-size: 3.5em * $text-size-multiplier;
}

.display-3 {
    font-size: 3em * $text-size-multiplier;
}

.display-4{
	font-size: 2.7em * $text-size-multiplier;
}

.display-1, .display-2, .display-3 {
    padding: 0;
    margin-top: .2em;
    margin-bottom: .2em;
}

h1{
	font-size: 67.77px  * $text-size-multiplier;
}

h2{
	font-size: 41.89px * $text-size-multiplier;
	font-weight: 500;
	letter-spacing: 2px;
}

h3{
	font-size: 25.89px * $text-size-multiplier;
	font-weight: 500;
}

h4{
	font-size: 25.89px * $text-size-multiplier;
	font-weight: 400;
}

h5, h6 {
	//TODO: alt-font. something thin perhaps?
	font-size: 16px * $text-size-multiplier;
	font-weight: 300;
}

p {
	font-size: 16px * $text-size-multiplier;
	font-weight: 400;
}
p.lead{
	font-size: 25.89px * $text-size-multiplier;
}

.small{
	font-size: 14px * $text-size-multiplier;
}

a:not(.fill, .btn) {
	text-decoration: underline;
}
s {
	text-decoration: none;
}
.uppercase {
	text-transform: uppercase;
}

.lowercase {
	text-transform: lowercase;
}


/* container styles */
.bg-color-primary:not(.row) {
	background-color: $color-primary;
}
.bg-color-secondary {
	background-color: $color-secondary;
}
.bg-color-offwhite {
	background-color: $color-offwhite;
}
.bg-color-offwhite-darker {
	background-color: $color-offwhite-darker;
}
.dark, .dark * {
	color: white;
}
.light, .light * {
	color: $color-body;
}
.color-primary {
	color: $color-primary;
}
.color-secondary {
	color: $color-secondary;
}
.color-warn {
	color: red;
}

.section {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}
.row {
	position: relative;
	align-items: start;
	max-width: 1350px;
	width: 100%;

	& .row { // no gutters on nested rows
		margin: 0;

		& .col {
		}
	}
}

.row.w-100 {
	max-width: 100%;
}

.sticky {
	position: sticky;
	left: 0;
	top: $header-height;
	&.header {
		top: 0
	}
}

@media only screen and (min-width: 992px) {
	.sticky-lg {
		position: sticky;
		left: 0;
		top: $header-height;
	}
}

.fill {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.h-100vh {
	height: 100vh;
}

/* icons */
svg {
	width: 100%;
	height: 100%;
}

/* Images */
img {
	object-fit: cover;
	width: 100%;
	margin-bottom: 1em;
}
img.rounded-circle {
	aspect-ratio: 1;
}

// Buttons
.btn {
	margin: 0 0 1em 0;
	&:not(.w-100):not(:last-of-type) {
		margin-right: 10px;
	}
}

.btn, a, .a {
	cursor: pointer;
	position: relative;
	text-decoration: none;
	color: $color-header;
	&:hover {
		color: black;
	}
}
p > a, p > .a {
	font-weight: 600;
}
/* Standard Button */
@mixin btn-standard($background-color, $text-color) {
	display: inline-block;
	border: none;
	padding: $btn-padding-y $btn-padding-x;
	background-color: $background-color;
	border-radius: 0;
	color: $text-color;
	&:hover, &:active {
		background-color: darken($background-color, 10%) !important;
		color: darken($text-color, 10%) !important;
	}
}

.btn-standard {
	@include btn-standard($color-primary, white);
}

.btn-standard.color-secondary {
	@include btn-standard($color-secondary, white);
}

.btn-standard.color-white {
	@include btn-standard(white, $color-header);
}

/* Outline Button */
@mixin btn-outline($color) {
	background-color: unset;
	border: 1px solid $color;
	padding: calc($btn-padding-y - 1px) calc($btn-padding-x - 1px);
	border-radius: 0;
	color: $color;
	&:hover, &:active {
		background-color: $color !important;
		color: white !important;
	}
}

.btn-outline {
	@include btn-outline($color-primary);
}

.btn-outline.color-gray {
	@include btn-outline($color-gray);
}


/* Simple Button*/
.btn-simple {
	background-color: unset;
	border: none;
	padding: 0;
}

.btn.btn-capsule {
	border-radius: 100px;
}


/* Button Icons */
@mixin absolute-position-center-y($additional-transform: null) {
	position: absolute;
	top: 50%;
	transform: translateY(-50%) #{$additional-transform};
}

.btn-icon-arrow-left {

	padding-left: calc($btn-padding-x + 13px);

	&::before {
		content: "<";
		@include absolute-position-center-y();
		left: $btn-padding-x;
 		transition: margin .5s;
	}

	&:hover::before {
		margin-left: -4px;
	}
}

.btn-icon-arrow-right {

	padding-right: calc($btn-padding-x + 13px);

	&::after {
		content: ">";
		@include absolute-position-center-y();
		right: $btn-padding-x;
		transition: margin .5s;
	}

	&:hover::after {
		margin-right: -4px;
	}
}

/* Forms */
.form-primary {
	& * {
		text-align: left;
	}

	& .input-multiline-medium {
		
	}
}