/* color variables */
$color-primary: #f15a24;
$color-secondary: black;
$color-offwhite: rgb(243, 243, 243);
$color-offwhite-darker: rgb(230, 230, 230);

/* font variables */
$text-size-multiplier: .9;
$color-header: #404040;
$color-body: #202020;

/* header */
$header-height: 90px;