/* color variables */
$color-primary: #f15a24;
$color-secondary: #e63900;
$color-offwhite: rgb(243, 243, 243);
$color-offwhite-darker: rgb(230, 230, 230);
$color-gray: rgb(145, 145, 145);

/* font variables */
$text-size-multiplier: .9;
$color-header: #404040;
$color-body: #202020;

/* header */
$header-height: 0px;

/* buttons */
$btn-padding-x: .75rem;
$btn-padding-y: .375rem;